{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">All events</h1>
        <hr>
    </div>
        {% for event in object_list %}
        <div class="col-md-4 col-12">
            <div class="vertical-card">
                <div class="vertical-card-body event-card">
                    <a href="{% url 'detail_event' pk=event.id %}">
                        <h5 class="text-secondary">{{ event.name }}</h5>
                    </a>
                    <p>{{ event.description }}</p>
                    <p>
                        <a href="{% url 'detail_event' pk=event.id %}">
                            <button class="btn btn-primary">See details</button>
                        </a>

                        <br>
                        <small><b>
                            Organizer: {{ event.admin }}<br>
                            Date: {{ event.when }}<br>
                            Place: {{ event.where }}
                        </b></small>
                    </p>

                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>There are no events.</p>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}