{% extends 'base.html' %}

{% block body %}

<!--HEADER-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Profile detail
            </h1>
            <hr>
        </div>
        <div class="col-md-3">
            <img alt="Profile picture" class="img-fluid" src="/{{ profile.mugshot }}">
        </div>
        <div class="col-md-6 my-auto">
            <h6>
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            </h6>
            <p>
                Phone: {{ profile.telephone }} <br/>
                E-mail: {{ profile.user.email }}
            </p>
            {% if friendly == -1 %}
            <a href="{% url 'update_profile' %}">
                <button class="btn btn-primary">Edit my profile</button>
            </a>
            {% elif friendly %}
            <button class="btn btn-primary" data-friend-id="{{profile.user.id}}"
                    onclick="handleRemoveFromFriendsClick(this)">Remove from friends
            </button>
            {% elif not friendly %}
            <button class="btn btn-primary" data-friend-id="{{profile.user.id}}"
                    onclick="handleAddToFriendsClick(this)">Add to friends
            </button>
            {% endif %}
        </div>
        <div class="col-md-3">
            <!--            empty-->
        </div>
    </div>
    <!--END:HEADER-->
    <hr>
    <!--LIST OF FRIENDS-->
    <div class="row">
        <div class="col-12">
            {% if friends %}
            <h6>Friends list ({{friends|length}})</h6>
            {% else %}
            <h6>This user has no friends.</h6>
            {% endif %}
        </div>
        {% for friend in friends %}
        <!--            <a href="/profile/detail/{{ friend.user.id }}">-->
        <div class="col-md-3 col-6" style="display: inline-block; float:left; text-align: left">
            <a href="{% url 'detail_profile' pk=friend.user.id %}">
                    <span>
                        {{ friend.user.first_name }} {{ friend.user.last_name}}
                    </span>
            </a>
        </div>

        {% endfor %}

    </div>
    <hr>
    <!--END:LIST OF FRIENDS-->
    <!--FEED-->
    <div class="row">
        <div class="col-12">
            {% if posts %}
            <h6>All posts ({{posts|length}})</h6>
            {% else %}
            <h6>This user has no posts.</h6>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-12 py-5">
            <div class="vertical-card">
                <a href="{% url 'detail_post' pk=post.id %}">
                    <div class="vertical-card-image">
                        {% if post.image %}
                        <img class="img-fluid" src="/{{ post.image }}">
                        {% endif %}
                    </div>
                    <div class="vertical-card-body">
                        <h5>{{ post.name }}</h5>
                </a>
                <p>{{ post.description }}</p>
                <p>
                    <small><b>Uploaded on {{ post.timestamp }}</b></small><br><br>
                    <a href="">Comment</a>
                    <a href="#">Like</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!--END: FEED-->
</div>

{% endblock %}