{% extends 'base.html' %}

{% block body %}

<!--HEADER-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img alt="Profile picture" class="img-fluid" src="/{{ profile.mugshot }}">
        </div>
        <div class="col-md-6 my-auto">
            <h1>
                {{ profile.user.first_name }} {{ profile.user.last_name }}
            </h1>
            <p>
                Phone: {{ profile.telephone }} <br/>
                E-mail: {{ profile.user.email }}
            </p>
            <a href="#">
                <button class="btn btn-primary">Add to friends</button>
            </a>
        </div>
        <div class="col-md-3">
            <!--            empty-->
        </div>
    </div>
    <!--END:HEADER-->
    <hr>
    <!--LIST OF FRIENDS-->
    <div class="row">
        <div class="col-12">
            {% if number_of_friends %}
            <h6>Friends list ({{number_of_friends}})</h6>
            {% else %}
            <h6>This user has no friends.</h6>
            {% endif %}
        </div>
        {% for friend in friends %}
        <!--            <a href="/profile/detail/{{ friend.user.id }}">-->
        <div class="col-md-3 col-6" style="display: inline-block; float:left; text-align: left">
            <a href="{% url 'detail_profile' pk=friend.user.id %}">
                    <span>
                        {{ friend.user.first_name }} {{ friend.user.last_name}}
                    </span>
            </a>
        </div>

        {% endfor %}

    </div>
    <hr>
    <!--END:LIST OF FRIENDS-->
    <!--FEED-->
    <div class="row">
        <div class="col-12">
            {% if number_of_posts %}
            <h6>All posts ({{number_of_posts}})</h6>
            {% else %}
            <h6>This user has no posts.</h6>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-12 py-5">
            <div class="vertical-card">
                <a href="{% url 'detail_post' pk=post.id %}">
                    <div class="vertical-card-image">
                        {% if post.image %}
                        <img class="img-fluid" src="/{{ post.image }}">
                        {% endif %}
                    </div>
                    <div class="vertical-card-body">
                        <h5>{{ post.name }}</h5>
                </a>
                <p>{{ post.description }}</p>
                <p>
                    <small><b>Uploaded on {{ post.timestamp }}</b></small><br><br>
                    <a href="">Comment</a>
                    <a href="#">Like</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!--END: FEED-->
</div>

{% endblock %}