{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <img alt="" class="img-fluid detail-image mb-5 mx-auto d-block" src="/{{ post.image }}">
            <h1>{{ post.name }}</h1>
            <p>
                <small>Posted by <a href="{% url 'detail_profile' pk=post.user.id %}">{{ post.user }}<a/></small>
            </p>
            <p>{{ post.description }}</p>
            <a data-post-id="{{ post.id }}" onclick="handleCommentClick(this)"><button class="btn btn-primary">Comment</button></a>
            <a data-post-id="{{ post.id }}" onclick="handleLikeClick(this)"><button class="btn btn-primary">Like</button></a>
            <hr>
        </div>

<!--        POST COMMENTS-->
        <div class="col-md-6 col-12">
            {% if comments %}
            <h6 id="comments">Comments</h6>
            {% for comment in comments %}
            <div class="col-md-6 col-12 px-0" style="display: inline-block; float:left; text-align: left">
                <p>
                    <b><a href="{% url 'detail_profile' pk=comment.user_id.id %}">{{ comment.user_id.first_name }}
                        {{comment.user_id.last_name }}</a></b><br>
                    <b>{{comment.content}}</b><br>
                    <small>{{comment.timestamp}}</small>
                </p>
            </div>
            {% endfor %}
            {% else %}
            <p>There are no comments.<br>Be the first one to <a data-post-id="{{ post.id }}"
                                                             onclick="handleCommentClick(this)">comment this</a>.</p>
            {% endif %}
        </div>

<!--        POST LIKES-->
        <div class="col-md-6 col-12">
            {% if likes %}
            <h6 id="likes">Liked by</h6>
            {% for like in likes %}
            <div class="col-12 px-0" style="display: inline-block; float:left; text-align: left">
                    <a href="{% url 'detail_profile' pk=like.user_id.id %}">{{like.user_id.first_name}} {{like.user_id.last_name}}</a><br>
            </div>
            {% endfor %}
            {% else %}
            <p>There are no likes.<br>Be the first one to <a data-post-id="{{ post.id }}"
                                                             onclick="handleLikeClick(this)">like this post</a>.</p>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}














