{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <img alt="" class="img-fluid mb-5" src="/{{ post.image }}">
            <h1>{{ post.name }}</h1>
            <p>
                <small>Posted by <a href="{% url 'detail_profile' pk=post.user.id %}">{{ post.user }}<a/></small>
            </p>
            <p>{{ post.description }}</p>
        <hr>
            <h6>Comments</h6>
            {% for comment in comments %}
            <div class="col-md-3 col-6 py-0" style="display: inline-block; float:left; text-align: left">
                <p>
                    <b><a href="{% url 'detail_profile' pk=comment.user_id.id %}">{{ comment.user_id.first_name }}
                        {{comment.user_id.last_name }}</a></b><br>
                    <b>{{comment.content}}</b><br>
                    <small>{{comment.timestamp}}</small>
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
