{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-8">
        <!--            Form for posting a new comment-->
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
        </div>

        {% for post in feed %}
        <div class="row py-2 my-5">
            <a href="/posts/detail/{{ post.id }}">
                <div class="card" style="width: 18rem;">
                    {% if post.image %}
                    <img class="card-img-top" src="/{{ post.image }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.name }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small>Uploaded by {{ post.user.username }}</small></p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Like</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}


    </div>
    <div class="col-4">
        <div class="col">Upcoming events</div>
        <div class="col">Friends</div>
        <div class="col">Friend requests</div>
    </div>
</div>

{% endblock %}