/*Hides all error messages of forms on lead*/
ul.errorlist {
        display: none;
    }

/*Hides user selection field from CreatePostForm*/
.user-hidden-field, label[for=id_user] {
    display: none !important;
}


/*FOOTER*/
.footer {
    color: white !important;
    background-color: #4267B2 !important;;
}

.copyright {
    background-color: #4267B2 !important;
}


